{
  "plugins": [
    ["transform-runtime", { "polyfill": false, "regenerator": true }],
    ["transform-inline-environment-variables", {
      "include": [
        "NODE_ENV"
      ]
    }],
    "transform-object-rest-spread"
  ],
  "ignore": [
    "__tests__",
    "__mocks__"
  ],
  "env": {
    "es": {
      "presets": [
        ["env", { "modules": false }],
        "flow"
      ]
    },
    "cjs": {
      "presets": [
        "env",
        "flow"
      ]
    },
    "test": {
      "presets": [
        "env",
        "flow"
      ],
      "plugins": ["dynamic-import-node"],
      "ignore": null
    }
  }
}
