{
  "extends": ["@colony/eslint-config-colony"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
  },
  "globals": {
    "web3": true,
    "ENV": true,
  },
  "rules": {
    "array-bracket-newline": ["warn", "consistent"],
    "no-console": ["warn", { "allow": ["warn", "error"]}],
  },
}
