{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "@colony/eslint-config-colony",
    "prettier/@typescript-eslint"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "es2020": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "no-unused-vars": "off",
    "camelcase": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "eslint-comments/disable-enable-pair": ["error", {"allowWholeFile": true}],
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off"
  },
  "overrides": [
    {
      "files": [
        "**/__tests__/**/*.ts",
        "**/__mocks__/**/*.ts"
      ],
      "env": {
        "jest": true
      },
      "rules": {
        "max-len": "off",
        "@typescript-eslint/ban-ts-ignore": "off"
      }
    }
  ]
}
