{
  "extends": ["@colony/eslint-config-colony"],
  "plugins": ["import"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
  },
  "rules": {
    "array-bracket-newline": ["warn", "consistent"],
    "no-console": ["warn", { "allow": ["warn", "error"]}],
    "flowtype/define-flow-type": 1,
  },
}
