{
  "env": {
    "jest": true,
  },
  "rules": {
    "flowtype/require-valid-file-annotation": [0],
    "import/no-unresolved": [2, { ignore: ['@colony'] }],
    "max-len": [0],
    "import/no-extraneous-dependencies": [0],
    "global-require": [0],
  },
}
